<li class="list-group-item">
  <h5><%= process.kind %></h5>
  
  <div>
    <span class="badge text-bg-primary">PID: <%= process.pid %></span>
    <span class="badge text-bg-secondary">Created: <%= time_ago_in_words process.created_at %></span> 
    <span class="badge text-bg-secondary">Last heartbeat: <%= time_ago_in_words process.last_heartbeat_at %></span> 
  </div>

  <div class="mt-2">
    <% process.metadata.each do |setting, value| %> 
      <div class="d-flex justify-content-between">
        <div><%= setting %></div>
        <div><%= value %></div>
      </div>
    <% end %>
  </div>
</li>