<tr>
  <th scope="row"><%= job.id %></th>
  <td scope="col"><%= job.class_name %></td>
  <td scope="col"><%= job.queue_name %></td>
  <td scope="col"><%= safe_time_tag job.scheduled_at %></td>
  <td scope="col"><%= safe_time_tag job.finished_at %></td>
</tr>
