<h1>Jobs</h1>

<ul class="nav nav-underline">
  <li class="nav-item">
    <%= link_to "All", jobs_path, class: class_names("nav-link", "active": current_page?(jobs_path)) %>
  </li>
  <li class="nav-item">
    <%= link_to "Scheduled", scheduled_jobs_path, class: class_names("nav-link", "active": current_page?(scheduled_jobs_path)) %>
  </li>
  <li class="nav-item">
    <%= link_to "Failed", failed_jobs_path, class: class_names("nav-link", "active": current_page?(failed_jobs_path)) %>
  </li>
</ul>

<div class="d-flex justify-content-end">
  <%== pagy_info(@pagy)  %> 
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Class</th>
      <th scope="col">Queue</th>
      <th scope="col">Scheduled</th>
      <th scope="col">Finished</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "panoptic/jobs/job", collection: @jobs %>  
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>
