<!DOCTYPE html>
<html>
  <head>
    <title>Panoptic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "panoptic/application" %>
    <%= javascript_importmap_tags "panoptic/application" %>
  </head>
  <body class="pb-4">

    <%= render "panoptic/shared/navbar" %>

    <main class="container mt-2">
      <%= render "panoptic/shared/flashes" %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
